.questionsSy {
    width: 100vw;
    padding: 30px 0;
    position: relative;
}

.flagPic {
    position: absolute;
    top: -260px;
    left: -50px;
}

.questionFlexBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionLeft {
    width: 400px;
    height: 400px;
}

.questionRight {
    width: 600px;
}

.questionTitle {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    max-width: 495px;
    color: rgba(3, 123, 53, 1);
    margin-bottom: 10px;
}


.questionParagraf {
    font-size: 15px;
    font-weight: 400;
    color: rgba(30, 37, 43, 1);
    line-height: 26px;
    margin-bottom: 20px;
}

.accordionmenuBox {
    border: 2px solid #95959553;
    width: 577px;
    height: 350px;
    overflow-y: scroll;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.accordionmenuBox::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(153, 153, 153, 0.199);
    border-radius: 30px;
}

.accordionmenuBox::-webkit-scrollbar-thumb {
    background: rgba(3, 123, 53, 1);
    border-radius: 10px;
}